In [26]:
import requests

link = "https://raw.githubusercontent.com/EanaKim/dh-course-fall-2017/master/ArtTech_NY_names.csv"
f = requests.get(link)

print(f.text)

column,placename,latitude,longitude
1,Pioneerworks,40.6792081,74.0121513
1,Eyebeam,40.703368,-73.934965
1,NEW INC,40.7221318,-73.9927702
1,Mana Contemporary,40.73662,-74.069048
1,Museum of the Moving Image,40.7563454,-73.9239496
1,Brooklyn Research,40.699929,-73.948835
1,Issue Project Room,40.6908467,-73.9897215
1,The Kitchen,40.7454908,-74.0068073
1,Friedman Gallery,40.7260322,-74.0072644
1,EMPAC(Experimental Media and Performing Arts Center),42.7289162,-73.6841797

In [3]:
infile = open('ArtTech_NY_names.csv')

In [4]:
>>> import csv
>>> with open('ArtTech_NY_names.csv', newline='') as csvfile:
...     reader = csv.DictReader(csvfile)
...     for row in reader:
...         print(row['placename'], row['latitude'])

Pioneerworks 40.6792081
Eyebeam 40.703368
NEW INC 40.7221318
Mana Contemporary 40.73662
Museum of the Moving Image 40.7563454
Brooklyn Research 40.699929
Issue Project Room 40.6908467
The Kitchen 40.7454908
Friedman Gallery 40.7260322
EMPAC(Experimental Media and Performing Arts Center) 42.7289162

In [5]:
import csv
import urllib.request

def get_carto_csv(carto_id):
    # carto_id: STR
    carto_url = "https://raw.githubusercontent.com/EanaKim/dh-course-fall-2017/master/ArtTech_NY_names.csv" % carto_id
    try:
        with urllib.request.urlopen(carto_url) as url:
            carto_csv = csv.loads(url.read().decode())
        return carto_csv
    except:
        return None

In [6]:
import pandas as pd
ArtTech = pd.read_csv("https://raw.githubusercontent.com/EanaKim/dh-course-fall-2017/master/ArtTech_NY_names.csv")

In [9]:
ArtTech

,column,placename,latitude,longitude
0,1,Pioneerworks,40.679208,-74.012151
1,1,Eyebeam,40.703368,-73.934965
2,1,NEW INC,40.722132,-73.992770
3,1,Mana Contemporary,40.736620,-74.069048
4,1,Museum of the Moving Image,40.756345,-73.923950
5,1,Brooklyn Research,40.699929,-73.948835
6,1,Issue Project Room,40.690847,-73.989722
7,1,The Kitchen,40.745491,-74.006807
8,1,Friedman Gallery,40.726032,-74.007264
9,1,EMPAC(Experimental Media and Performing Arts C...,42.728916,-73.684180